.navigation {
  width: 100%;
  height: 50px;
  background-color: lightblue;
}

h1 {
  text-align: center;
  font-size: 400%;
}

body {
  background:
  url(https://www.muji.com/img/feature/flagship/plaza-singapura/main.jpg);
  background-size: contain;
}